{{#each this}}
<li class="list-item" data-id-number='{{id}}'>
	<div class="thumb">
		<img srcset=" https://image.tmdb.org/t/p/w500{{poster_path}} 1x,
 				https://image.tmdb.org/t/p/w780{{poster_path}} 2x" src='https://image.tmdb.org/t/p/w500{{poster_path}}'
			alt="photo">
	</div>
	<div class="descr">
		<h4 class="title">{{title}}</h4>
		<p class="genres-year">{{genre_ids}} | {{release_date}} <span class="vote">{{vote_average}}</span></p>
	</div>
</li>
{{/each}}