<div class="conteiner">
	<div class="thumb">
		<img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt="photo">
	</div>
	<div class="descr">
		<h2 class="title">{{title}}</h2>
		<ul class="descr-list">
			<li class="list-item">Vote / Votes <span>{{vote_average}} / {{vote_count}}</span></li>
			<li class="list-item">Popularity <span>{{popularity}}</span></li>
			<li class="list-item">Original Title <span>{{original_title}}</span></li>
			<li class="list-item">Genre <span>{{genres}}</span></li>
		</ul>
		<h3>About</h3>
		<p>{{overview}}</p>
	</div>
</div>